* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
  }
  
  
  textarea{
    padding: 10px;
  }
  
  button{
    padding: 8px 10px;
    border-radius: 6px !important;
    border: none;
    background: #4ede5a;
    margin: 5px 4px  !important;
  }

